
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    circle at top,
    rgba(0, 0, 0, 1) 0%,        
    rgba(0, 0, 0, 1) 40%,       
    rgba(2, 6, 23, 1) 70%,      
    rgba(0, 0, 0, 1) 100%
  );
  z-index: -10;
}


body::after {
  content: "";
  position: fixed;
  top: -30%;                
  left: 50%;
  transform: translateX(-50%);

  width: 110vw;                
  height: 130vh;

  background: radial-gradient(
    circle,
    rgba(74, 222, 128, 0.55) 0%,     
    rgba(74, 222, 128, 0.25) 35%,   
    rgba(74, 222, 128, 0.10) 55%,   
    transparent 80%                 
  );

  opacity: 0.70;               
  filter: blur(75px);          
  mix-blend-mode: screen;
  pointer-events: none;
  z-index: -9;
}




#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
